@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Berkeley';
    src: url('../../public/fonts/berkeley-mono.woff') format('woff');
}

@font-face {
    font-family: 'Grotesk-Sharp';
    src: url('../../public/fonts/sharp-grotesk-bold.woff') format('woff');
}

:root {
    --background: #ffffff;
    --foreground: #171717;

    --black: #000000;
    --white: #ffffff;
    --green:  #019c00;
    --light-green: #009c00ea;
    --light-blue: #133e79;
    --orange: #f7931a;
    --tan: #d2b48c;
}

body {
    color: var(--black);
    background: var(--background);
    font-family: 'Berkeley', 'Grotesk-Sharp', Arial, Helvetica, sans-serif;
}
